* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;

  background: linear-gradient(135deg, #011b40, #011b40);
}

.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 20px;         
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 8px;
  color: #111;
}
.login-card p {
  color: #555;
  margin-bottom: 20px;
}

/* === FORMULAIRE === */
label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #011b3e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #011b3e;
}

.signup {
  margin-top: 15px;
}
.signup a {
  color: #011b3e;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}
